@import url('https://fonts.googleapis.com/css2?family=Cinzel&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel&family=Spectral+SC:ital,wght@1,300&display=swap');

* {
    /* background-color: rgb(27, 25, 52);  */
    /* color: white; */
    /* border: 2px solid black; */
    margin: 0;
    font-family: 'Spectral SC', serif;
    word-spacing: 10px;
    line-height: 58px;
    letter-spacing: 3px;
}

img {
    border: 1px solid white;
}

.flex-container {
    display: flex;
}

.app {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

.half-color {
    z-index: -1;
    height: 100vh;
    position: fixed;
    width: 50%;
    right: 0;
    background-color: rgba(70, 184, 167, 0.5);
}

.header {
    justify-content: space-between;
    width: 90%;
}

.header > * {
    margin: 45px;
}

.header-link {
    text-decoration: none;
    color: black;
}

.header-link h1 {
    transition: all .2s ease-in-out;
}

.header-link h1:hover {
    transform: scale(1.2);
    color: black;
}

.home {
    display: flex;
    height: 3500px;
    width: 100vw;
    /* justify-content: center; */
    flex-direction: column;
    align-items: center;
}

.quote-section {
    margin-top: 75px;
    width: 70%;
}

.quote {
    font-size: 30px;
    text-align: center;
}

.header *, .quote {
    font-family: 'Cinzel', serif;
}

.project-carousel {
    width: 80%;
    margin-top: 90px;
    border: 2px white solid;
}

.project-container {
    margin-top: 30px;
    width: 90%;
    /* border: 1px solid red; */
}

.project-description {
    font-size: 20px;
    padding: 50px;
    align-items: center;
    text-indent: 80px;
}

.project-image-container {
    width: 4000px;
    justify-content: center;
    align-items: center;
}

.project-image-container * {
    height: 383px;
}

.skills {
    background-color: rgba(70, 184, 167, 0.5);
    display: flex;
    height: 3500;
    width: 100vw;
    justify-content: space-around;
    /* border: 1px solid red; */
    padding: 40px;
    padding-top: 60px;
}

/* .skills > * {
    border: 1px solid black;
} */

.skills h3 {
    text-indent: 15px;
}

.skill-title {
    font-size: 45px;
}

@media screen and (max-width: 700px) {

    * {
        word-spacing: normal;
        line-height: normal;
        letter-spacing: normal;
        margin: 0;
    }

    .app {
        height: 100vh;
        width: 100vw;
        overflow-x: clip;
        overflow-y: visible;
    }

    /* .half-color {
        height: 50%;
    } */

    .header > * {
        margin: 15px;
    }

    /* .header {
        height: 50px;
    }

    .skills {
        height: 150px;
    } */

    .project-carousel {
        margin-bottom: 35px;
    }

    .project-container {
        flex-direction: column;
        align-items: center;
        margin-top: -20px;
        margin-bottom: 0;
    }

    /* .quote-section {
        margin-top: -50px;
    } */

    .quote {
        font-size: 20px;
    }

    .project-description {
        font-size: 10px;
        padding: 50px;
        align-items: center;
        text-indent: 30px;
        height: 120px;
        text-align: center;
    }

    .project-image-container {
        width: 65%;
        /* border: 1px solid black; */
        justify-content: center;
        align-items: center;
        /* display: none; */
    }

    .project-image-container > img {
        width: 100%;
        height: 150px;
    }

    .skills {
        margin-top: 10px;
        padding: 20px;
    }

    .skill-title {
        font-size: 15px;
    }

    .skills h3 {
        font-size: 10px;
    }

}