@import url("https://fonts.googleapis.com/css2?family=Cinzel&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cinzel&family=Spectral+SC:ital,wght@1,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@1,300&display=swap");

* {
  /* border: 2px solid black; */
  margin: 0;
  font-family: "Spectral SC", serif;
  word-spacing: 10px;
  line-height: 58px;
  letter-spacing: 3px;
}

img {
  border: 1px solid white;
}

.flex-container {
  display: flex;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.half-color {
  z-index: -1;
  height: 100vh;
  position: fixed;
  width: 50%;
  right: 0;
  background-color: rgba(70, 184, 167, 0.5);
}

.header {
  z-index: 10;
  justify-content: center;
  width: 100%;
  position: fixed;
  background-color: rgba(70, 184, 167, 1);
}

.header > * {
  margin: 25px;
}

.page-title {
  align-items: center;
}

.header-items {
  width: 85%;
  justify-content: space-between;
}

.header-link {
  text-decoration: none;
  color: black;
}

.header-link h1 {
  font-family: "Jost", sans-serif;
  transition: all 0.2s ease-in-out;
}

.header-link h1:hover {
  transform: scale(1.2);
  color: black;
}

.home {
  display: flex;
  height: 3500px;
  width: 100vw;
  /* justify-content: center; */
  flex-direction: column;
  align-items: center;
}

.quote-section {
  margin-top: 75px;
  width: 70%;
}

.quote {
  font-size: 30px;
  text-align: center;
  padding: 10px;
  margin: 10px;
}

.header *,
.quote {
  font-family: "Cinzel", serif;
}

.project-carousel {
  width: 80%;
  margin-top: 90px;
  border: 2px white solid;
}

.project-container {
  margin-top: 30px;
  width: 90%;
  /* border: 1px solid red; */
}

.project-description {
  font-size: 25px;
  padding: 50px;
  flex-direction: column;
}

.project-description p {
  text-indent: 80px;
  padding: 10px 10px 10px 0;
  margin: 10px 10px 10px 0;
  font-family: "Jost", sans-serif;
}

.project-description a {
  font-weight: 900;
  text-decoration: none;
  color: black;
  transition: all 0.2s ease-in-out;
}

.project-description a:hover {
  transform: scale(1.05);
  color: black;
}

.project-image-container {
  width: 383%;
  justify-content: center;
  align-items: center;
}

.project-image-container a {
  width: 650px;
  height: 600px;
  align-items: center;
  transition: all 0.2s ease-in-out;
}

.project-image-container a img {
  width: 100%;
  height: 60%;
}

.project-image-container a:hover {
  transform: scale(1.1);
}

.right-description a {
  text-align: right;
}

.right-description p {
  padding: 10px 0 10px 10px;
  margin: 10px 0 10px 10px;
}

.skills {
  background-color: rgba(70, 184, 167, 0.5);
  display: flex;
  height: 3500;
  width: 100vw;
  justify-content: space-around;
  padding: 40px;
  padding-top: 60px;
}

.projects-title {
  padding: 10px;
  padding-right: 35px;
  border-right: 15px solid black;
}

.skills h3 {
  text-indent: 15px;
}

.skill-title {
  font-size: 45px;
  padding: 10px;
}

.about-section {
  width: 70%;
  padding: 20px;
  margin: 25px;
  margin-top: 180px;
}

.about-title {
  padding: 10px;
  padding-left: 35px;
  border-left: 15px solid black;
}

.about {
  text-indent: 80px;
  padding: 10px;
  font-size: 30px;
  font-family: "Jost", sans-serif;
}

.footer {
  width: 100%;
  justify-content: center;
  background-color: rgba(70, 184, 167, 1);
}

.footer-links {
  width: 18%;
  justify-content: space-around;
}

.footer-links * {
  text-decoration: none;
  color: black;
  font-size: 25px;
  padding: 10px;
  margin: 5px;
  transition: all 0.2s ease-in-out;
  font-family: "Jost", sans-serif;
}

.footer-links *:hover {
  transform: scale(1.1);
  color: black;
}

.right-side * {
  font-size: 30px;
  margin: 10px;
}

.scroller {
  align-items: center;
  text-decoration: none;
  color: black;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  font-family: "Jost", sans-serif;
}

.scroller:hover {
  transform: scale(1.2);
  color: black;
}

.my-image {
  justify-content: center;
  margin: 10px;
  padding: 10px;
  height: 350px;
}

/* Something about myself */
/* Add a projects */
/* About section, and link to projects that scrolls down on top */

/* Project titles */
/* bigger font */
/* No small caps font */

/* Add title to technolies i know */
/* Add footer with socials and another contact */
/* Fix spacing */

/* Button to link users to projects */

/* For mobile */

#github-link {
  color: blue;
}

@media screen and (max-width: 700px) {
  * {
    word-spacing: normal;
    line-height: normal;
    letter-spacing: normal;
    margin: 0;
  }

  .app {
    height: 100vh;
    width: 100vw;
    overflow-x: clip;
    overflow-y: visible;
  }

  /* .half-color {
        height: 50%;
    } */

  .header > * {
    margin: 15px;
  }

  .header * {
    font-size: 14px;
  }

  /* .header {
        height: 50px;
    }

    .skills {
        height: 150px;
    } */

  .project-carousel {
    margin-bottom: 35px;
  }

  .left-description .project-image-container {
    margin-top: 70px;
  }

  .about {
    font-size: 15px;
  }

  .project-container {
    flex-direction: column;
    align-items: center;
  }

  .my-image {
    height: 200px;
  }

  .project-image-container a {
    width: 100%;
    height: 100%;
  }

  .project-image-container a img {
    width: 100%;
    height: 100%;
  }

  .quote {
    font-size: 20px;
  }

  .project-description {
    font-size: 10px;
    padding: 50px;
    align-items: center;
    text-indent: 30px;
    height: 120px;
    text-align: center;
  }

  .project-image-container {
    width: 65%;
    /* border: 1px solid black; */
    justify-content: center;
    align-items: center;
    /* display: none; */
  }

  .project-image-container > img {
    width: 100%;
  }

  .skills {
    margin-top: 10px;
    padding: 20px;
  }

  .skill-title {
    font-size: 15px;
  }

  .skills h3 {
    font-size: 10px;
  }
}
